h1{
    color: red;
    padding: 20px;
}
.bgBlue > p{
    background-color: blue;
    border: solid 2px black;
    border-radius: 10px;
}
p{
    color: brown;
    width: 700px;
    margin: 30px;
    padding: 10px;
}
div{
    margin: 0;
    padding: 10px;

}
a{
    background-color: white;
    color: black;
    padding: 10px;
    border: solid 4px red;
    border-radius: 10px;
    margin: 30px;
    text-decoration: none;
}
